
$font-stack: Helvetica, sans-serif;

$color-white: white;
$color-black: black;
$color-darkgray: #2c3643;
$color-red: red;
$color-lightgray: #f3f3f3;
$color-blue: #0d3880;
$color-green: #157e00;
$color-purple: #e60278;
$color-orange: #fd8f00;

$color-lightblue: #297CBB;
$color-lightgreen: #259e0d;
$color-lightorange: #ffa735;
$color-magenta: #e958a3;

$spacing-margin-default: 2em;