
$font-stack: Helvetica, sans-serif;

$color-white: white;
$color-black: #222;
$color-lightgray: #f3f3f3;
$color-blue: blue;
$color-green: green;
$color-red: red;
$color-yellow: yellow;

$spacing-margin-default: 2em;