@import "styles/_colors.scss";

.App {
}

.App-header {
  height: 361px;
  margin-bottom: 2em;
  background-color: $color-white;
  text-align: center;
  position: relative;

  &__profile-img {
    position: absolute;
    bottom: 0;
  }
}

.App-logo {
  position: fixed;
  top: 20px;
  left: 20px;
}

.App-title {
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}
